@page
@model SeatingChart.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Primary Seating Chart";
}

<h2>Seating Chart</h2>
<html>
<head>
    <title>Students</title>
    <link href="https://cdn.syncfusion.com/ej2/17.1.43/material.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/17.1.43/material.css"> 
    <script src="jquery-3.7.1.min.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/17.1.43/dist/ej2.min.js"></script> 
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto">
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
</head>
<body>
     <style>
    .wrapper { 
        display: grid;
        grid-template-columns: repeat(@Model.numCols, 1fr);
        gap: 10px;  
        @* overflow: scroll;  *@
        object-fit: cover;
        @* justify-content: center; *@
    }

    .wrapper > div {
        border: 2px solid #222;
        border-radius: 3px; 
        font-family: 'Merriweather', light;
    }

    .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;  
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;  
        @* box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem orange;    *@
        font-family: 'Merriweather', light; 
    


    }

    h4 {
        text-align: center;
    }

    .btn-primary {
        color: #fff;
        background-color: #f5822a;
        border-color: #f5822a;
    }
 </style>
    
    @* <a class="btn btn-primary" href="/Students/SetNumColumns/?num=@(Model.numCols + 1)">Add Column</a>
    <a class="btn btn-primary" href="/Students/SetNumColumns/?num=@(Model.numCols - 1)">Remove Column</a> *@

    <a class="btn btn-primary" asp-page="SetNumColumns" asp-route-num="@(Model.numCols + 1)">Add Column</a>
    <a class="btn btn-primary" asp-page="SetNumColumns" asp-route-num="@(Model.numCols - 1)">Remove Column</a>
    <a class="btn btn-primary" asp-page="Create">Add Student</a>
    <a class="btn btn-primary" asp-page="DeleteAll">Delete All</a>

    <h4>Front</h4>
    
    @*<div id="Grid"></div>*@

    
    @*<div id="Grid"></div>*@ 

    
    <div class="wrapper">        
        @foreach (var student in Model.Students) {
            <div class="item">
                @student.FirstName @student.MiddleName @student.LastName
                <div class="buttons">
                    <a href="/Students/Edit/?id=@student.ID">Edit</a>
                    <a href="/Students/Delete/?id=@student.ID">Delete</a>
                </div>
            </div>
        }
    </div>

    <h4>Back</h4>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 

</body>
</html>